body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html, body, #root {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game_container{
  position:relative;
  height:100%;
  width:100%
  background-color: #fff;
  margin-top: 210px;
  margin-left: 210px;
}

.hexagon {
  height: 80px;
  width: 48px;
  background: #ccc;
  position:absolute;
  box-sizing: border-box;
  font-size: 15pt;
  text-align: center;
}

.hexagon::before, .hexagon::after {
  content:"";
  position: absolute;
  height: 0;
  width: 0; 
  top:0;
  /* half height */
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
}

.hexagon::before {
  left:-20px;
  border-right:20px solid #ccc; 
}

.hexagon::after {
  right:-20px;
  border-left:20px solid #ccc; 
}

/* quick color gradient, used https://colordesigner.io/gradient-generator */

/* Number 2 */
.hexagon_color_2 {background: #fafa6e;}
.hexagon_color_2::before {left:-20px;border-right:20px solid #fafa6e;}
.hexagon_color_2::after {right:-20px;border-left:20px solid #fafa6e;}

/* Number 4 */
.hexagon_color_4 {background: #d7f171;}
.hexagon_color_4::before {left:-20px;border-right:20px solid #d7f171;}
.hexagon_color_4::after {right:-20px;border-left:20px solid #d7f171;}

/* Number 8 */
.hexagon_color_8 {background: #b5e877;}
.hexagon_color_8::before {left:-20px;border-right:20px solid #b5e877;}
.hexagon_color_8::after {right:-20px;border-left:20px solid #b5e877;}

/* Number 16 */
.hexagon_color_16 {background: #95dd7d;}
.hexagon_color_16::before {left:-20px;border-right:20px solid #95dd7d;}
.hexagon_color_16::after {right:-20px;border-left:20px solid #95dd7d;}

/* Number 32 */
.hexagon_color_32 {background: #77d183;}
.hexagon_color_32::before {left:-20px;border-right:20px solid #77d183;}
.hexagon_color_32::after {right:-20px;border-left:20px solid #77d183;}

/* Number 64 */
.hexagon_color_64 {background: #5bc489;}
.hexagon_color_64::before {left:-20px;border-right:20px solid #5bc489;}
.hexagon_color_64::after {right:-20px;border-left:20px solid #5bc489;}

/* Number 128 */
.hexagon_color_128 {background: #3fb78d;}
.hexagon_color_128::before {left:-20px;border-right:20px solid #3fb78d;}
.hexagon_color_128::after {right:-20px;border-left:20px solid #3fb78d;}

/* Number 256 */
.hexagon_color_256 {background: #23aa8f;}
.hexagon_color_256::before {left:-20px;border-right:20px solid #23aa8f;}
.hexagon_color_256::after {right:-20px;border-left:20px solid #23aa8f;}

/* Number 512 */
.hexagon_color_512 {background: #009c8f;}
.hexagon_color_512::before {left:-20px;border-right:20px solid #009c8f;}
.hexagon_color_512::after {right:-20px;border-left:20px solid #009c8f;}

/* Number 1024 */
.hexagon_color_1024 {background: #008d8c;}
.hexagon_color_1024::before {left:-20px;border-right:20px solid #008d8c;}
.hexagon_color_1024::after {right:-20px;border-left:20px solid #008d8c;}

/* Number 2048 */
.hexagon_color_2048 {background: #007f86;}
.hexagon_color_2048::before {left:-20px;border-right:20px solid #007f86;}
.hexagon_color_2048::after {right:-20px;border-left:20px solid #007f86;}